<% @articles.each do |article| %>

<h2>
  <%= article.title %>
</h2>
<p>
  <%= article.text %>
</p>
<%= link_to 'show', article_path(article) %>
<%= link_to 'edit', edit_article_path(article) %>
<hr>
<% end %>
